doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Contacts Reference
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            h1 Contacts (Reference Only)
            p This file is for reference purposes only.